html, body {
    height: 100%;
    margin: 0;
    background-image: url("../img/trainnnnPhotoBackgroundCenterized.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

.navbar {
    background-color: transparent !important;
}

.landing {
    text-align: center;
    font-size: 2.0vw;
    margin: 3vw;
    font-weight: bold;
}

.buttonLanding {
    text-align: center;
}
